<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRMNL Preview</title>
    <style>
        body {
            font-family: sans-serif;
            background: #eee;
            margin: 10px;
        }
        .menu {
            margin-bottom: 1em;
            display: flex;
            justify-content: space-between;
            width: 802px;
        }
        .menu a {
            padding: 0.5em 1em;
            background: #ddd;
            border-radius: 0.5em;
            display: inline-block;
            text-decoration: none;
            color: black;
        }
        .menu a:hover {
            background: #ccc;
        }
        .menu a.active {
            background: #333;
            color: white;
        }
        iframe {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <div class="menu">
        <div>
            <a class="<%= 'active' if @view == 'full' %>" href="/full">Full</a>
            <a class="<%= 'active' if @view == 'half_horizontal' %>" href="/half_horizontal">Half Horizontal</a>
            <a class="<%= 'active' if @view == 'half_vertical' %>" href="/half_vertical">Half Vertical</a>
            <a class="<%= 'active' if @view == 'quadrant' %>" href="/quadrant">Quadrant</a>
        </div>
        <div>
            <a href="/poll">Poll</a>
        </div>
    </div>

    <iframe src="/render/<%= @view %>" width="800" height="480"></iframe>
</body>
</html>