<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="trmnl-view" content="<%= @view %>">
    <meta name="live-reload" content="<%= @live_reload %>">
    
    <title>TRMNL Preview</title>
    
    <link rel="stylesheet" href="/index.css">
    <script src="/index.js"></script>

    <!-- Highlight.js for syntax highlighting -->
    <link rel="stylesheet" href="/highlight/styles/atom-one-dark.min.css">
    <script src="/highlight/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
</head>
<body>
    <main>
        <menu>
            <div>
                <a class="<%= 'active' if @view == 'full' %>" href="/full">Full</a>
                <a class="<%= 'active' if @view == 'half_horizontal' %>" href="/half_horizontal">Half Horizontal</a>
                <a class="<%= 'active' if @view == 'half_vertical' %>" href="/half_vertical">Half Vertical</a>
                <a class="<%= 'active' if @view == 'quadrant' %>" href="/quadrant">Quadrant</a>
            </div>
            <div style="display: flex; gap: 0.3em; align-items: center;">
                <div class="spinner" style="display: none;"></div>
                <select class="select-format">
                    <option value="png">PNG</option>
                    <option value="html" selected>HTML</option>
                </select>

                <a href="/poll">Poll</a>
            </div>
        </menu>

        <iframe style="width: 800px; height: 480px; border: 1px solid black; background: white;">Rendering…</iframe>

        <pre id="user-data"><code><%= @user_data %></code></pre>
    </main>
</body>
</html>