<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="trmnl-view" content="<%= @view %>">
    <meta name="live-reload" content="<%= @live_reload %>">
    
    <title>TRMNL Preview</title>
    
    <link rel="stylesheet" href="/index.css">
    <script src="/trmnl-component.js" defer></script>
    <script src="/index.js"></script>
</head>
<body>
    <main>
        <menu>
            <div>
                <a class="<%= 'active' if @view == 'full' %>" href="/full">Full</a>
                <a class="<%= 'active' if @view == 'half_horizontal' %>" href="/half_horizontal">Half Horizontal</a>
                <a class="<%= 'active' if @view == 'half_vertical' %>" href="/half_vertical">Half Vertical</a>
                <a class="<%= 'active' if @view == 'quadrant' %>" href="/quadrant">Quadrant</a>
            </div>
            <div style="display: flex; gap: 0.3em; align-items: center;">
                <div class="spinner" style="display: none;"></div>
                <select class="select-format">
                    <option value="bmp">BMP</option>
                    <option value="html" selected>HTML</option>
                </select>
                <select class="select-case">
                    <option value="white">White</option>
                    <option value="black">Black</option>
                    <option value="mint">Mint</option>
                    <option value="gray">Gray</option>
                    <option value="wood">Wood</option>
                </select>

                <a href="/poll">Poll</a>
            </div>
        </menu>

        <trmnl-frame>Rendering…</trmnl-frame>

        <pre id="user-data"><%= @user_data %></pre>
    </main>
</body>
</html>