<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="<%= @framework.css_url %>" />
    <script src="<%= @framework.js_url %>"></script>
    <meta name="trmnl-framework-version" content="<%= @framework.number %>" />
    <meta name="trmnl-framework-pinned" content="<%= @framework.pinned? %>" />

    <!-- Begin Inter font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <!-- End Inter font -->
  </head>

  <body class="environment trmnl">
    <div class="<%= @screen_classes %>">
      <% if @mashup_classes %><div class="<%= @mashup_classes %>"><% end %>
      <div class="view view--<%= @view %>">
        <%= yield %>
      </div>
      <% if @mashup_classes %></div><% end %>
    </div>
  </body>
</html>
